<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        *{
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }
        input:focus{
            outline: none;
        }
        .header-logo{
            height: 88px;
            width: 100%;
            box-shadow: 0px 2px 4px grey;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            font-size: 12px;
            background-color: dodgerblue;
        }
        .content{
            height: 70vh;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #loginForm{
            /* height: 300px; */
            width: 300px;
            background-color: white;
            box-shadow: 0px 0px 4px grey;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            padding: 10px 5px 20px 5px;
        }

        #loginForm h2, #loginForm>input{
            margin-top: 15px;
        }

        #loginForm input{
            width: 90%;
            padding: 10px;
        }

        #loginBtn{
            background-image: linear-gradient(to right, blue, purple);
            color: white;
            font-size: 16px;
            border: none;
            margin-bottom: 10px;
        }
        .footer{
            width: 100%;
            position: absolute;
            bottom: 0;
            padding: 10px;
            background-color: dodgerblue;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 14px;
            font-weight: 700;
        }
    </style>
</head>
<body>
    <div class="header-logo">
            <h1 style="cursor: pointer; user-select: none; font-family: Arial, Helvetica, sans-serif;" title="BILLING CUM INVENTORY MANAGEMENT SYSTEM">BCI MANAGEMENT SYSTEM</h1>
    </div>
    <!-- Header end -->
    <div class="content">
        <div class="form">
            <div action="" id="loginForm">
                <h2 style="font-family: Arial, Helvetica, sans-serif;">ADMIN LOGIN</h2>
                <input type="email" name="email" id="email" placeholder="Email">
                <div style="display: flex; justify-content: flex-start; width: 90%; align-items: center; border: 1px solid grey; margin-top:20px;">
                    <input type="password" name="password" id="password" placeholder="Password" style="border: none; width: 90%;">
                    <i class="fa fa-eye" id="hideShowPass" aria-hidden="true" style="position: relative; right: 0; color: grey;"></i>
                </div>
                <div style="width: 90%; object-fit: contain; margin-top: 10px; margin-bottom: 0px;">
                    <p style="color: red; font-weight: bold;" id="err"></p>
                </div>
                <input type="submit" value="Login" id="loginBtn">
                <p>Login as a user ? <a href="/login">click here</a></p>
            </div>
        </div>
    </div>
    <div class="footer"><p>Designed by: </p></div>
</body>
<script>
    const email = document.getElementById("email")
const error =  document.getElementById("err")
const password = document.getElementById("password")

password.addEventListener("input",e=>{
    let regex =  /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@.#$!%*?&])[A-Za-z\d@.#$!%*?&]{8,15}$/; 
    if(!regex.test(e.target.value.trim())){
        error.innerText = "Password must begin with a capital and contain lower, number and alphanumeric character"
        return false
    } else{
        error.innerText = ""
    }
})

email.addEventListener('input',e=>{
    let regex = /^[a-z0-9]+@[a-z]+\.[a-z]{2,3}$/
    if(!regex.test(e.target.value.trim())){
        error.innerText = "Email is invalid !"
        return false
    } else{
        error.innerText = ""
    }
})

document.getElementById("loginBtn").addEventListener('click',e=>{
    if(error.innerText!=""){
        return false; 
    } else if(email.value.trim()=="" || password.value.trim()==""){
        error.innerText = "Enter Email and Password !"
        return false
    }
    fetch("/admin/login",{
        method:"POST",
        headers:{
            'content-type':'application/json'
        },
        body:JSON.stringify({
            email: email.value,
            password: (password.value)
        })
    })
    .then((result) => {
        if(result.status==200){
            window.location.href=result.url
            return 0;
        }
        return result.json()
    })
    .then(data=>{
        if(data!=0){
            error.innerText=data?.msg;
        }
    })
    .catch((err) => {
        error.innerText = err
    });
})

document.getElementById("hideShowPass").addEventListener('click',e=>{
    if(e.target.classList.contains("fa-eye")){
        e.target.classList.remove("fa-eye")
        e.target.classList.add("fa-eye-slash")
        password.type = "text"
    } else {
        e.target.classList.add("fa-eye")
        e.target.classList.remove("fa-eye-slash")
        password.type = "password"
    }
})
</script>
</html>