<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }

        input {
            border: none;
            padding: 10px;
            width: 100%;
            margin-bottom: 10px;
            /* Adjust as needed to control the gap between input fields */
            font-size: 16px;
            /* Adjust font size */
            font-family: Arial, sans-serif;
            /* or any other font family you prefer */
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            /* Add box-shadow */
        }

        .passwordInput input[type="password"] {
            width: 100%;
        }

        .passwordInput {
            display: flex;
        }

        .passwordInput>input:focus {
            outline: none;
        }

        .header-logo {
            height: 88px;
            width: 100%;
            box-shadow: 0px 2px 4px grey;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            font-size: 12px;
            background-image: linear-gradient(to right, #2C3E50, #34495E);
            /* Dark linear gradient background */
        }

        .content {
            height: 70vh;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #loginForm {
            /* height: 300px; */
            width: 300px;
            background-color: white;
            box-shadow: 0px 0px 4px grey;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            padding: 10px 5px 20px 5px;
        }

        #loginForm h2,
        #loginForm>input {
            margin-top: 15px;
        }

        #loginForm input {
            width: 90%;
            padding: 10px;
        }

        #loginBtn {
            background-image: linear-gradient(to right, blue, purple);
            color: white;
            font-size: 16px;
            border: none;
            margin-bottom: 10px;
        }

        .footer {
            width: 100%;
            position: absolute;
            bottom: 0;
            padding: 10px;
            background-color: dodgerblue;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 14px;
            font-weight: 700;
            background-image: linear-gradient(to right, #2C3E50, #34495E);
            /* Dark linear gradient background */

        }
    </style>
</head>

<body>
    <div class="header-logo">
        <h1 style="cursor: pointer; user-select: none; font-family: Arial, Helvetica, sans-serif;"
            title="BILLING CUM INVENTORY MANAGEMENT SYSTEM">BCI MANAGEMENT SYSTEM</h1>
    </div>
    <!-- Header end -->
    <div class="content">
        <div class="form">
            <div action="" id="loginForm">
                <h2 style="font-family: Arial, Helvetica, sans-serif;">USER LOGIN</h2>
                <input type="email" name="email" id="email" placeholder="Email">
                <div
                    style="display: flex; justify-content: flex-start; width: 90%; align-items: center; margin-top:20px;">
                    <input type="password" name="password" id="password" placeholder="Password"
                        style="border: none; width: 90%;">
                    <i class="fa fa-eye" id="hideShowPass" aria-hidden="true"
                        style="position: relative; right: 0; color: grey;"></i>
                </div>
                <div style="width: 90%; object-fit: contain; margin-top: 10px; margin-bottom: 0px;">
                    <p style="color: red; font-weight: bold;" id="err"></p>
                </div>
                <input type="submit" value="Login" id="loginBtn">
                <p>Forgot Password? <a href="/forgotpassword">Click here</a></p>
                <p>Create an account? <a href="/signup">click here</a></p>
                <p>Login as a admin ? <a href="/admin/login">click here</a></p>
            </div>
        </div>
    </div>
    <div class="footer">
        <p>Designed by: </p>
    </div>
</body>
<script src="js/login.js"></script>

</html>