<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Usersignup | SignUp</title>
    
    <style>
        /* Apply box-sizing property to all elements */
        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }

        body {
            font-family: Arial, Helvetica, sans-serif;
            background-size: cover;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
        }

        .header-logo {
            height: 88px;
            width: 100%;
            box-shadow: 0px 2px 4px grey;
            display: flex;
            justify-content: center;
            align-items: center;
            background-image: linear-gradient(to right, #2C3E50, #0a6aca, #354250);
            /* Dark linear gradient background */
            transition: background-image 0.5s ease, box-shadow 0.5s ease;
        }

        .header-logo:hover {
            background-image: linear-gradient(to right, #0a6aca, #2C3E50, #0a6aca);
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
        }

        .header-title {
            cursor: pointer;
            user-select: none;
            font-size: 24px;
            font-weight: bold;
            letter-spacing: 2px;
            animation: textGlow 2s ease-in-out infinite alternate;
        }

        .content {
            background: rgba(255, 255, 255, 0.85);
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            /* background-image: url("/images/patterns/bush.png"); */
        }

        #signupHeader {
            color: #0b3460;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 2px;
            text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
            margin-bottom: 20px;
            transition: color 0.3s ease, text-shadow 0.3s ease;
        }

        #signupHeader:hover {
            color: #0056b3;
            text-shadow: 2px 2px 10px rgba(0, 86, 179, 0.3);
        }

        input {
            border: none;
            padding: 10px;
            width: 100%;
            margin-bottom: 10px;
            font-size: 16px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }

        input[type="file"] {
            padding-top: 12px;
            color: green;
        }

        input:hover {
            background-color: #f0f0f0;
            border-color: #ceaede;
            box-shadow:
                0 0 10px rgba(255, 255, 255, 0.5),
                0 0 20px rgba(51, 52, 64, 0.5),
                0 0 30px rgba(255, 255, 255, 0.5);
        }

        input:focus {
            outline: none;
            box-shadow:
                0 0 10px rgba(255, 255, 255, 0.5),
                0 0 20px rgba(51, 52, 64, 0.5),
                0 0 30px rgba(255, 255, 255, 0.5);
        }

        #signupform {
            width: 65%;
            margin-top: 30px;
            background-color: white;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            padding: 10px;
            border-radius: 10px;
            transition: transform 0.3s ease, box-shadow 0.3s ease;
            /* background: url("https://www.toptal.com/designers/subtlepatterns/uploads/paisley.png"); */
            position: relative;
        }

        #signupform:hover {
            transform: translateY(-10px);
            box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
        }

        #signupform input[type="submit"] {
            background-color: #007BFF;
            color: white;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease, transform 0.3s ease;
        }

        #signupform input[type="submit"]:hover {
            background-color: #0056b3;
            transform: scale(1.05);
        }

        #signupform p {
            margin: 10px 0;
            font-size: 14px;
        }

        #signupform h2,
        #signupform > input {
            margin-top: 15px;
        }

        #signupform input {
            width: 90%;
            padding: 10px;
        }

        #signupform a {
            color: #007BFF;
            text-decoration: none;
            transition: color 0.3s ease, text-shadow 0.3s ease;
        }

        #signupform a:hover {
            color: #0056b3;
            text-decoration: underline;
            text-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
        }

        .innerDiv {
            display: flex;
            justify-content: space-between;
            width: 100%;
        }

        .innerLeft,
        .innerRight {
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: stretch;
        }

        .innerLeft input,
        .innerRight input {
            margin: 5px;
            padding: 8px;
        }

        #signUpBtn {
            background-image: linear-gradient(to right, blue, purple);
            color: white;
            font-size: 16px;
            border: none;
            margin-bottom: 10px;
        }

        #signUpBtn:hover {
            background-image: linear-gradient(to right, rgb(3, 3, 80), rgb(194, 39, 194), rgb(3, 3, 80));
        }

        .footer {
            width: 100%;
            position: absolute;
            bottom: 0;
            box-shadow: 0px 0px 1px 4px rgb(247, 242, 242);
            color: rgb(245, 241, 251);
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 14px;
            font-weight: 700;
            background-image: linear-gradient(to right, #2C3E50, #0a6aca, #354250);
            height: 6%;
            transition: background-image 0.5s ease, box-shadow 0.5s ease;
        }

        .footer:hover {
            background-image: linear-gradient(to right, #09549e, #2C3E50, #095bad);
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
        }

        .password-input-container {
            display: flex;
            align-items: center;
            width: 92%;
        }

        .password-input-container input {
            flex: 1;
            padding-right: 30px;
        }

        .password-input-container #hideShowPass {
            position: absolute;
            left: 360px;
            cursor: pointer;
            color: grey;
        }
    </style>
    <link rel="stylesheet" href="/styles/header.css">
</head>

<body>
    <div class="header-logo">
        <h1 class="header-title" title="BILLING CUM INVENTORY MANAGEMENT SYSTEM">BCI MANAGEMENT SYSTEM</h1>
    </div>

    <!-- Header end -->
    <div class="content">
        <form class="signupform" id="signupform" enctype="multipart/form-data">
            <h2 id="signupHeader">SIGNUP FORM</h2>
            <div class="innerDiv">
                <div class="innerLeft">
                    <input type="text" name="name" id="name" placeholder="Name">
                    <input type="email" name="email" id="email" placeholder="Email">
                    <div class="password-input-container">
                        <input type="password" name="password" id="password" placeholder="Password">
                        <i class="fa fa-eye" id="hideShowPass" aria-hidden="true"></i>
                    </div>
                    <input type="text" name="gst" id="gst" placeholder="GST Number">
                    <input type="text" name="pan" id="pan" placeholder="PAN Number">

                    <input type="file" name="img" id="img" placeholder="Photo" style="text-transform: capitalize;">
                </div>
                <div class="innerRight">
                    <input type="tel" name="mobile" id="mobile" placeholder="Mobile Nmber">
                    <input type="text" name="store" id="store" placeholder="Store Name "
                        style="text-transform: capitalize;">
                    <input type="text" name="address" id="address" placeholder="Store Address"
                        style="text-transform: capitalize;">
                    <input type="text" name="city" id="city" placeholder="Store City"
                        style="text-transform: capitalize;">
                    <input type="text" name="state" id="state" placeholder="Store State"
                        style="text-transform: capitalize;">
                    <input type="text" name="pincode" id="pincode" placeholder="Store Pincode"
                        style="text-transform: capitalize;">

                </div>
            </div>
            <p id="err" style=" font-weight: bold; text-align: center; width: 90%; text-wrap: wrap;"></p>
            <input type="submit" value="SignUp" id="signUpBtn">
            <p style="color: black;">Already Registered ? <a href="/login">click here </a></p>
        </form>
    </div>
    <div class="footer">
        <p><i>Designed by: PAYAL KATOCH </i></p>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="js/signup.js"></script>




</html>